body{
background:black;
color:#d8b4fe;
font-family:Arial;
text-align:center;
padding:40px;
}

.page{
display:none;
}

.active{
display:block;
}

button{
background:#d8b4fe;
border:none;
padding:12px 20px;
margin:10px;
border-radius:12px;
cursor:pointer;
font-size:16px;
}

button:hover{
transform:scale(1.05);
}

a{
color:#d8b4fe;
}

.photo{
width:300px;
border-radius:20px;
}